@use 'src/styles/vars';

.log-container {
    border: 1px solid #c9c9c9;
    margin: 3rem;
}

.log-item-container {
  overflow: scroll;
  height: 400px;
}

.log-item {
  display:flex;
  justify-content: space-around;
  padding-top:1.2rem;
  padding-bottom:1.2rem;
}

.log-item:nth-child(odd) {
  background:#f2f2f2;
}

.log-item:first-child {
  background:vars.$color-grey;
  color:vars.$color-white;
}

.log-item-container .log-item:first-child {
  background:#f2f2f2;
  color:vars.$color-grey;
}

.log-points {
  font-weight:700;
}


.log-student-name, .log-points, .log-date {
  width:150px;
}

.log-house-name, .log-teacher {
  width:200px;
}

.log-reason {
  width:250px;
}

@media (max-width: 942px) { 
  .log-container { 
    margin:0.7rem;
  }
  .log-item {
    flex-direction: column;
  }

  .log-reason, .log-student-name, .log-points, .log-house-name, .log-teacher, .log-date {
    width:100%;
    padding-left:1rem;
    padding-bottom:1rem;
  }
} 

