@font-face {
  font-family: 'Antic Slab';
  src: url('../../../assets/fonts/AnticSlab-Regular.ttf');
}

@font-face {
  font-family: 'Harry';
  src: url('../../../assets/fonts/harryp.ttf');
}

.page-not-found {
  background:#f2f2f2;;
}

.page-not-found .navbar {
  background:white;
  margin-bottom:2rem;
}

.error-title {
  font-family: 'Antic Slab', serif;
  text-align: center;
  font-size: 150px;
}

.error-text {
  font-size: 65px;
  text-align: center;
  margin-top: 2rem;
}

.error-img {
  display: block;
  margin: 0 auto;
}
.error-font {
   font-family: 'Harry', sans-serif;
}




