@use 'src/styles/vars';

@media (min-width: 942px) {
  .filter-mobile {
    display:none;
  }
}

.filter-mobile {
  width:100%;
  margin-bottom:1rem;
}

.filter-mobile button {
  border:none;
  background:#F2F2F2;
  color:vars.$color-grey;
  width:100%;
  height:50px;
  font-size:'Josefin sans', sans-serif;
  font-size:1rem;
  font-weight:600;
  border-radius: 5px;
}
