@use "../../../styles/vars";

.lore-wrapper{
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: vars.$color-grey;
  padding:1em;
  color: vars.$color-white;
}

.lore-title{
  margin: 1em auto;
  margin-bottom: 2rem;
  font-family:'Harry', sans-serif;
  text-transform: uppercase;
  letter-spacing: vars.$title-letter-spacing;
  font-size:vars.$font-size-title;
  text-align:center;
  
}

.house-sigils{
  width: 60%;
  display:flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: nowrap;


  li{
    width:100%;
    height:100%;
    text-align: center;
    transition: all 1s ease-in-out;

  }

  .image{
  width:50%;
  height:50%;
  cursor: pointer;
  transition: all 1s ease-in-out;
  &__selected{
    width:65%;
    height:65%;
    cursor: pointer;
  }
  }
  li:hover .image{
    width:65%;
    height:65%;
  }
  }


.house-name{
  font-size: 2.3rem;
  margin:1em auto;
  font-family: 'Tangerine', sans-serif;
}


.house-lore{
  margin: 1em 1em;
  font-size: 1.5em;
  border: 2px solid #DE9B72;
  height: 99%;
  width: 98%;
  padding: 6px;
  margin: 0 auto;
  box-sizing: border-box;
  &__mid-border{
    border: 6px solid #DE9B72;
    height: 100%;
    width: 100%;
    padding: 6px;
    margin: auto;
  }
  &__inner-border{
    position: relative;
    border: 2px solid #DE9B72;
      height: 100%;
      width: 100%;
      margin: auto;
  }
  h3{
    font-family: 'Tangerine', sans-serif;
    font-size: 2.3rem;
    color:black;
    margin: 1em auto;
  }
}

.lore-text{
  margin: 1em;
  font-size: 1.2rem;
  line-height:1.4em;
  font-weight:300;
  color: black;
}

.parchment-effect{
  box-sizing: border-box;
	padding: 2em 1em;
	box-shadow: 2px 3px 20px black, 0 0 125px #8f5922 inset;
	background: #fffef0;
  filter: url(#wavy2);
}

@media (max-width: 942px) { 
  .house-sigils {
    flex-direction: column;
  } 

}
