@use 'src/styles/vars';

.account-list-item {
  background:vars.$color-white;
  width:250px;
  height:180px;
  margin:0 1rem 0 1rem;
  text-align:center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
}

.account-list-item h2 {
  font-weight:700;
} 


@media (max-width: 942px) { 
  .account-list-item {
    margin-top:2rem;
  } 
}
