@use 'src/styles/vars';

@font-face {
  font-family: 'Tangerine';
  src: url('src/assets/fonts/Tangerine-Regular.ttf');
}

.student-list {
  display: flex;
  justify-content: center;
}

.student-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 38.5rem;
  margin-bottom:0.4rem;
}

.text-container {
  width: 22rem;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background:vars.$color-white;
}

.gryffondor-border {
  border: 3px solid vars.$color-gryffondor;
}

.serpentard-border {
  border: 3px solid vars.$color-serpentard;
}

.poufsouffle-border {
  border: 3px solid vars.$color-poufsouffle;
}

.serdaigle-border {
  border: 3px solid vars.$color-serdaigle;
}

.student-name {
  font-family: 'josefin Sans' sans-serif;
  margin-left: 1.8rem;
  color: vars.$color-gryffondor;
  font-weight: bold;
  font-size: 17px;
}

.student-house {
  font-family: 'Tangerine', cursive;
  margin-right: 1.8rem;
  color: vars.$color-gryffondor;
  font-size: 22px;
}

.gryffindor {
  color: vars.$color-gryffondor
}

.serpentard {
  color: vars.$color-serpentard
}

.serdaigle {
  color: vars.$color-serdaigle
}

.poufsouffle {
  color: vars.$color-poufsouffle
}

.student-img {
  width:90px;
}
