
$color-grey: #131313;
$color-white: #FFFFFF;
$color-grey-button: #757575;
$color-gryffondor: #83040B;
$color-serpentard: #22592F;
$color-serdaigle: #062776;
$color-poufsouffle: #DAB130;
$font-size-title:2.7rem;
$title-letter-spacing:.3rem;
