@use 'src/styles/vars';

.filter {
  display: flex;
  flex-direction: row;
  height:40px;
}

.filter-title {
  margin-right: 1em;
  padding-top:4px;
}

.filter-label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0 2.2em 0 0.8em;
  padding-top: 4px;
}

/* Hide the browser's default checkbox */
.filter-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border:none;
  background-color: #F2F2F2;
}

/* On mouse-over, add a grey background color */
.filter-label:hover input ~ .checkmark {
  border:none;
  background-color: #F2F2F2;
}

/* When the checkbox is checked, add a blue background */
.filter-label input:checked ~ .checkmark {
  background-color: vars.$color-grey;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.filter-label input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.filter-label .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


@media (max-width: 942px) {
  .filter {
    display:none;
  }

}
