@use 'src/styles/vars';

.form-select-change-house {
  border:1px solid vars.$color-grey;
  border-radius:5px;
  width: 30%;
  height: 40px;
  padding: 0.7rem;
  outline: none;
  margin-left:1em;
}

.points-management-recipient .point-student-header {
  flex-wrap: nowrap;
}

.student-header-info{
  display:flex;
  align-items: center;
}

.points-management-recipient .add-student-recipient {
  margin-top:1rem;
}

.add-student-recipient h2 {
  margin-bottom:1rem;
}

@media (max-width: 1360px) { 

  .points-management-recipient .input-fields {
    flex-direction: column;
  }

  .add-student-recipient .input-fields .field-input, .add-student-recipient .input-fields  .form-select {
    width:100%;
    margin-left:0;
  }

  .add-student-recipient .input-fields .form-select {
    margin-top:1rem;
    margin-bottom:1rem;
  }

  .points-management-recipient .student-header-info, .points-management-recipient .point-student-header {
    flex-direction: column;
    align-items: start;
    row-gap: 1.5em;
  }

  .points-management-recipient .action-button {
    margin:0;
  }


  .points-management-recipient .student-header-info, .points-management-recipient .action-button {
    width:100%;
  }

  .form-select-change-house, .form-select-change-user-role {
    margin-left:0;
    padding:0;
    width:100%;
  }

  .point-student-add, .point-student-delete {
    margin-left: 0rem;
    margin-top:1rem;
  }

}

@media (max-width: 942px) { 

  .add-student-recipient .input-fields {
    flex-direction: column;
  }

  .student-header-info {
    align-items: flex-start;
  }

  .add-student-recipient .form-select-change-house {
    margin-left: 0;
    width:100%;
    margin-bottom:1rem;
  }

  .points-management-recipient .field-input {
    width:100%;
  }
}


  
