
@media (max-width: 942px) {
  .search-bar-form, .search-bar-form .field-input {
    width:100%;
  }
}


.search-bar-form {
  display:flex;
  margin-bottom:1rem;
}

.search-bar-form .field-input {
  width:270px!important;
}
.search-bar-form .login-form-button {
  width:80px;
  height:38px;
  margin-left: -0.4rem;
}
