@use 'src/styles/vars';


/* Responsive navbar mobile */

@media (min-width: 480px) {
  .menu-burger {
    display:none;
  }
}

@media (max-width: 942px) {

  .menu-burger {
    display:block;
    width: 38px;
    height: 20px;
    cursor: pointer;
    margin-right: 15px;
  }

  .menu-burger span {
    display: block;
    height: 1.5px;
    margin-bottom:6px;
    width:38px;
  }

  .menu-burger.white span {
    background:vars.$color-white;
  }

  .menu-burger.grey span {
    background:vars.$color-grey;
  }

  .menu-burger span:nth-child(2) {
    width:25px;
  }  

}
