@use 'src/styles/vars';

@font-face {
  font-family: 'Harry';
  src: url('src/assets/fonts/harryp.ttf');
}

.wizard-type {
  font-family: 'Harry', sans-serif;
  font-size:vars.$font-size-title;
  text-transform: uppercase;
  text-align: center;
  color:vars.$color-white;
  margin-bottom:2rem;
  letter-spacing: vars.$title-letter-spacing;
}

.student-point {
  color:vars.$color-white;
  font-size: 1.4rem;
  width: 120px;
}

.wizard-ranking {
  padding-bottom:3rem;
}


@media (max-width: 942px) {
  .text-container {
    width: 12rem;
    margin-right:1rem;
  }

  .student-item {
    justify-content: space-between;
    margin-left:1rem;
  }

  .student-img {
    width:50px;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .student-point {
    font-size:1rem;
    width:90px;
  }

  .student-name {
    margin-left:0.5rem;
  }
}
